backcall==0.1.0
certifi==2020.6.20
contextlib2==0.6.0.post1
cycler==0.10.0
docker-compose==1.25.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
ipdb==0.12.3
ipython-genutils==0.2.0
joblib==0.15.1
kiwisolver==1.2.0
Mako==1.1.1
matplotlib==3.2.2
numpy==1.19.0
pep517==0.8.1
pickleshare==0.7.5
ptyprocess==0.6.0
pycurl==7.43.0.4
pyparsing==2.4.7
python-dateutil==2.8.1
pyudev==0.21.0
ranger-fm==1.9.3
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
threadpoolctl==2.1.0
toml==0.10.0
urllib3==1.25.8
zipp==2.0.0
